name: releaser

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest
    outputs:
      name: ${{ steps.compress.outputs.name }}
    permissions:
      contents: read
      id-token: write
      attestations: write
    defaults:
      run:
        shell: pwsh

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup MSVC (x64)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Download sdk
      run: |
        Invoke-WebRequest -Uri https://spring-fragrance.mints.ne.jp/aviutl/aviutl2_sdk.zip -OutFile aviutl2_sdk.zip
        Expand-Archive -Path aviutl2_sdk.zip -DestinationPath src/aviutl2_sdk -Force
        Remove-Item aviutl2_sdk.zip -Force

    - name: Convert file encoding
      run: |
        Get-ChildItem -Path src/aviutl2_sdk -Filter "*.h" -Recurse | ForEach-Object {
          $file = $_.FullName
          $content = Get-Content $file -Raw -Encoding "shift_jis"
          $content = $content -replace "`r`n", "`n"
          Set-Content $file -Value $content -Encoding utf8
        }

    - name: Build
      working-directory: src
      run: |
        $version = $env:GITHUB_REF_NAME -replace '^v', ''
        cmake -S . -B build -DCMAKE_GENERATOR_PLATFORM=x64 -DVERSION="$version"
        cmake --build build --config Release

    - name: Compress
      id: compress
      run: |
        $env:GITHUB_REPOSITORY.Split('/')[-1] -match 'AviUtl2_(.*)_Plugin' | Out-Null; $plugin_name = $matches[1]
        "name=${plugin_name}_$env:GITHUB_REF_NAME" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append

        $folder = "artifacts/$plugin_name"
        $archive = "artifacts/${plugin_name}.zip"

        mkdir $folder -Force
        Copy-Item src/build/Release/*.aux2 $folder
        Copy-Item *.md $folder
        Copy-Item LICENSE $folder
        Compress-Archive -Path $folder -DestinationPath $archive -Force

        "archive=$archive" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append

    - name: Attest
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: ${{ steps.compress.outputs.archive }}

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: plugin
        path: ${{ steps.compress.outputs.archive }}
        compression-level: 0

  releaser:
    needs: build
    runs-on: windows-latest
    permissions:
      contents: write
    defaults:
      run:
        shell: pwsh

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: plugin
        path: artifacts

    - name: Create notes
      id: notes
      run: |
        $pattern_v = '^-\s*\*\*(v[\d.]+)\*\*'
        $pattern_c = '^\s*-\s*(.+)'

        $lines = Get-Content README.md -Encoding utf8

        $idx = -1
        for ($i = 0; $i -lt $lines.Count; ++$i) {
          if ($lines[$i].Trim() -eq "## Change Log") {
            $idx = $i
            break
          }
        }

        $log = $lines[($idx + 1)..($lines.Count - 1)]

        $changes = @()
        $in_section = $false

        foreach ($l in $log) {
          if ($l -match $pattern_v) {
            if ($in_section) { break }
            $in_section = $true
            continue
          }

          if ($in_section -and ($l -match $pattern_c)) {
            $changes += "- $($matches[1].Trim())"
          }
        }

        $content = "## What's Changed`n" + ($changes -join "`n") + "`n"
        Set-Content -Path release_notes.md -Value $content -Encoding utf8

    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        name: ${{ needs.build.outputs.name }}
        files: 'artifacts/*.zip'
        body_path: release_notes.md
